[mysqld]
# docker server date 
default-time-zone = +8:00

# log

# 事务成功后持久化redo log,binlog
innodb_flush_log_at_trx_commit = 1
sync_binlog = 1

# transaction isolation
transaction-isolation = REPEATABLE-READ
transaction-read-only = OFF
# 自动提交事务
set autocommit = 1