public/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

.env
# building files from v0.89.0 https://github.com/gohugoio/hugo/releases/tag/v0.89.0
.hugo_build.lock
resources/_gen
